.form-control {
  border: 0;
  border-bottom: 2px solid #222;
  border-radius: 0;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
#todoList {
  width: 100%;
}
#todoList ul {
  list-style: none;
  padding: 0;
}
#todoList ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
